*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    background-color: rgb(255, 255, 255, 0);
    width: 1266px;
    height: 568px;
    margin: 50px auto;
}

.cabeza{
    font-size: 35px;
    color:  rgb(20, 160, 20);
    margin-bottom: 30px;
}

figure{
    background-color:  rgb(20, 160, 20);
    padding: 10px;
    width: 200px;
    height: 200px;
    border-radius: 0px 50% 50% 50%;
    border: 1px solid green;
}

figure:hover{
    background-color: white;
    img{
        filter: invert(50%);
    }
}

.seccion{
    display: inline-block;
    margin: 60px;
}

img{
    filter: invert(100%);
    margin-top: 20px;
}

figcaption{
    margin-top: 30px;
    color: white;
    font-size: 30px;
}

small a{
    color: blue;
}

footer{
    padding: 20px;
    border-top: 2px solid green;
    background-color: rgb(20, 160, 20);
    color: black;
}

@media only screen and (max-width: 1365){
    .contenedor{
        width: 60%;
        margin: 20%;
    }
}

@media only screen and (max-width: 600px){
    .contenedor{
        margin: 0;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .cabeza, .seccion, footer{
        width: 98%;
        height: 25%;
        margin: 20px 2%;
        padding: 5px;
    }

    .seccion{
        display: block;
    }
}