*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    width: 98%;
    height: 98%;
    margin: 1% 1% 1% 1%;
    text-align: left;
    position: absolute;
}

img{
    width: 300;
    height: auto;
    float: left;
}

h1{
    width: 50%;
    height: auto;
    color: #6397ec;
    font-size: 3;
    float: left;
}

h3{
    font-size: 3;
    clear: both;
    color: white;
    padding: 10px 0px;
}

ul{
    padding-left: 30px;
    color: white;
    font-size: 3;
}

li{
    list-style: square;
}